.priority-badge::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 12px;
}

.priority-badge-low::before{
    background-color: #66CB9F;
}

.priority-badge-medium::before{
    background-color: #F7936F;
}

.priority-badge-high::before{
    background-color: #F16063;
}